
/* shared item */
.display-flex{
    display: flex;
}
body{
    color: white;
    background-color: black;
}
.bg-color{
   margin: 20px 90px;
    text-align: center;

}
.navbar, .banner, .card2, .card-menu, .run, .footer, .bmi{
    justify-content: space-between;
    align-items: center;
}
.heder-n{
    color: rgb(230, 83, 60);
}
.nav-menu{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
    background-color: 1px	Inside
    rgba(255, 255, 255, 0.1);
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}
.menubar{
   display: none;
}
.circle{
    height: 40px;
    width: 40px;
    background-color: brown;
    border-radius: 50%;
    align-items: center;
}
.card2, .card1{
    background-color: bisque;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.card1{
    width: 150px;
    height: 80px;
    bottom: 200px;
    left: 180px;
}
.card2{
    bottom: 200px;
    left: -60px;
    height: 80px;
    width: 150px;
}
.card-item>img{
    border-radius: 50%;
    width: 100%;
}
.image>img{
    width: 50%;
    border-radius: 10px;
}
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.team-member{
    height: 300px;
}
.team-member>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.trainer-desc{
    position: relative;
    bottom: 100px;
    right: 80px;
}
table, td, th{
    border: 2px solid wheat;
    border-collapse: collapse;
}
.bmi-cal{
    background-color: dimgray;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
}
.bmi1{
    gap: 10px;
}
.footer-desc{
    width: 50%;
}

/* Small Device Design */
@media screen and (max-width: 576px) {
    .nav-menu{
        display: none;
    }
    .menubar{
        display: inline;
    }
    .bg-color{
        margin: 10px 20px;
         text-align: center;
     
     }
    .banner,
    .display-flex{
        flex-direction: column;
    }
    .navbar{
        flex-direction: row;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .image>img{
        width: 80%;
    }
    .run{
        gap: 10px;
    }
}